<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
</head>
<body>
    <div id='example-3'>
        <input type="radio" id="cac-mon-rau" value="Các món rau" v-model="checkedNames">
        <label for="cac-mon-rau">Các món rau</label><br>
        <input type="radio" id="cac-mon-thit" value="Các món thịt" v-model="checkedNames">
        <label for="cac-mon-thit">Các món thịt</label><br>
        <span>Đã chọn: {{ checkedNames }}</span>
      </div>
      
</body>
<script src="main.js"></script>
</html>